@import "~@assets/style/man";
@import '~@assets/style/element-ui';

/* lucky-main 内容页默认宽高 */
@mixin page-default-w {width: 100%;}
//@mixin page-default-w {width: calc(100vw - 260px);}
@mixin page-default-h {height: calc(100vh - 120px);}
.page-default-wh {@include page-default-w; @include page-default-h;}
.page-default-w {@include page-default-w;}
.page-default-h {@include page-default-h;}
.page-default-h-has-breadcrumb {min-height: calc(100vh - 180px);}

/* 内容页默认内边距 */
//@mixin page-default-pd {padding: 18px 20px 20px 20px;}
@mixin page-default-pd {padding: 10px 20px 20px 20px;}
@mixin page-default-pd-edit {padding: 25px 20px;}
.page-default-pd {@include page-default-pd;}
.page-default-pd-bgc-white {@include bgc-white-light; @include page-default-pd;}
.page-default-pd-bgc-white-default-h {@include bgc-white-light; @include page-default-pd; min-height: calc(100vh - 285px);}
.page-default-pd-bgc-white-default-h-edit {@include bgc-white-light; @include page-default-pd-edit; min-height: calc(100vh - 285px);}

/* 面包屑 */
.breadcrumb {
  @include bgc-white-light;
  width: 100%;
  height: 35px;
  margin-top: 5px;
  padding: 0 20px;
  @include fx-col;
  justify-content: center;

  .el-breadcrumb .el-breadcrumb__inner {
    color: #545861;
  }
}
.breadcrumb-title {
  @include bgc-white-light;
  color: #545861;
  @include fs-18;
  @include fw-600;
  padding: 0 20px 15px;
}
.breadcrumb-single {
  @include bgc-white-light;
  height: 79px;
  padding: 20px 15px;
  display: flex;
  align-items: center;
  color: #545861;
  @include fs-18;
  @include fw-600;
}

/* 列表筛选项 */
.filters {
  @include fx-row;
  flex-wrap: wrap;
}
.filters .item {
  @include fx-row;
  margin-top: 5px;
  line-height: 32px;
}
.filters .item .lb {@include fs-13; margin-left: 10px; margin-right: 5px;}
.filters .item .lb-unmgl {margin-left: unset;}
.filters .item .inp {width: 120px;}
.filters .item .inp-small {width: 140px;}
.filters .item .btn {width: min-content;}
.fn-btns {margin-bottom: 15px; display: flex; flex-direction: row;}
.fn-btn {min-width: min-content; max-width: max-content;}

/* 列表行尾操作 */
.tb-operating {
  @include fx-row;
  align-items: center;
}
.tb-operating .a {color: #1890FF; @include cursor-pointer;}
.tb-operating .a-disabled {color: $color-gray;}
.tb-operating .fg {color: $color-gray-light;}
.fg {color: #dddbdb;}

/* 基础按钮大小 */
.btn {width: 120px; margin: 0 5px;}

/* 录入页表单默认最大宽度 */
.fm-max-w {max-width: calc(100vw - 400px);}

/* 录入页底部操作按钮层 */
.edit-page-options-btn {
  height: 80px;
  border-top: 1px solid #ebeef5;
}
.edit-page-options-btn .btn {margin: 0 10px;}

/* 文字链接样式上传文件 */
.img-link {color: $color-main; @include fw-600; @include fs-13; @include cursor-pointer;}
.img-link-uploaded {@include fx-row; justify-content: center; align-items: center; color: #E6A23C; @include fw-600; @include fs-13; @include cursor-pointer;}
.img-link-uploaded-ncp {@include fx-row; justify-content: center; align-items: center; color: #E6A23C; @include fw-600; @include fs-13;}
.danger {@include fc-main-active;}

/* ueditor 富文本部分高度 */
.ueditor .edui-default .edui-toolbar .edui-combox .edui-combox-body,
.ueditor .edui-default .edui-button-body,
.ueditor .edui-splitbutton-body,
.ueditor .edui-menubutton-body,
.ueditor .edui-combox-body {line-height: 20px !important;}
.ueditor .el-form-item__content {line-height: unset !important;}

/* 列表操作文字按钮样式 */
.fs-12 {font-size: 12px !important;}

/* dr 内边距 */
.el-drawer__body {padding: 0 15px;}

/* 气跑确认框 */
.el-popover.el-popper {
  .el-popconfirm__action {
    .el-button {width: max-content;}
  }
}


/* 移动端适配 */
.dp-pc {display: block;}
.dp-m {display: none;}
.dp-pc-dl-pager {display: block;}
.dp-m-dl-pager {display: none;}
@media screen and (max-width: 1200px) {
  .dp-pc {display: none;}
  .dp-m {display: block;}
  .dp-pc-dl-pager {display: none;}
  .dp-m-dl-pager {display: block;}
  /* 列表筛选项 */
  .filters {
    .item {
      @include fx-row;
      margin-top: 5px;
      line-height: 60px;
      .lb {font-size: 22px; margin-left: 10px; margin-right: 5px;}
      .lb-unmgl {margin-left: unset;}
      .inp {width: 300px;}
      .inp-small {width: 300px;}
      .btn {width: min-content;}
      .el-input--small {font-size: 22px;}
      .el-input--small .el-input__inner {width: 300px; height: 60px;}
    }
  }
  .fn-btns {
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .fn-btn {min-width: min-content; max-width: max-content; margin-bottom: 15px;}
  }
  // 列表缩略 tips
  .el-tooltip__popper {font-size: 26px !important;}
  // dropdown
  .el-dropdown-menu {
    .el-dropdown-menu__item {
      font-size: 28px;
      padding: 20px 40px;
    }
  }

  // vant - 加载中
  /*.van-toast--unclickable {
    .van-toast--loading {
      width: 160px;
      height: 160px;
      padding: 18px;
      font-size: 28px;
      .van-toast__text {margin-top: 28px;}
    }
  }*/

  ::v-deep {
    /* 列表 */
    .el-table {
      tr {
        th {font-size: 22px;}
        td {
          padding: 16px 0;
          .cell {
            line-height: 40px;
            .el-link--inner {font-size: 20px;}
          }
          .cell.el-tooltip {font-size: 20px;}
        }
      }
    }
  }
}
@media screen and (max-width: 420px) {
  //.dp-pc {display: none;}
  //.dp-m {display: block;}
  .dp-pc-dl-pager {display: none;}
  .dp-m-dl-pager {display: block;}
  /* 列表筛选项 */
  .filters {
    .item {
      margin-top: 5px;
      margin-left: -5px;
      line-height: 45px;
      .lb {width: max-content; font-size: 16px; margin-left: 10px; margin-right: 5px;}
      .lb-unmgl {margin-left: unset;}
      .inp {width: 160px;}
      .inp-small {width: 200px;}
      .btn {width: min-content;}
      .el-input--small {font-size: 16px;}
      .el-input--small .el-input__inner {width: 200px; height: 45px;}
    }
  }
  .fn-btns {
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .fn-btn {min-width: min-content; max-width: max-content; margin-bottom: 15px;}
  }
  // 列表缩略 tips
  .el-tooltip__popper {font-size: 16px !important;}
  // dropdown
  .el-dropdown-menu {
    .el-dropdown-menu__item {
      font-size: 18px;
      padding: 10px 20px;
    }
  }

  ::v-deep {
    /* 列表 */
    .el-table {
      tr {
        th {font-size: 15px;}
        td {
          padding: 14px 0;
          .cell {
            font-size: 14px;
            line-height: 40px;
            .el-link--inner {font-size: 14px;}
          }
          .cell.el-tooltip {font-size: 14px;}
        }
      }
    }
  }
}